@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;900&display=swap');

*{
    margin: 0 auto;
	padding: 0px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    }

    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
   }

   a{
        font-size: 15px;
        font-weight: 400;
        color: #707070;
   }

    /*Start Header Menu*/

    .header{
        background-color: #fff;
        padding: 32px 0 64px;
    }

    .header_menu{
        max-width: 1000px;
        display: grid;
	    grid-template-columns: repeat(12, 1fr);
        grid-gap: 16px;

    }

    .menu_logo{
        grid-column: 1 / 3;
    }

    .menu_logo--img{
        height: 25px;
    }

    .menu_elements{
        grid-column: 3 / 10;
    }

    .menu_links{
        width: 100%;
        justify-content: center;
    }
    .menu_links li{
        display: block;
    }

    .menu_btn{
        grid-column: 10 / 13;
    }


    .menu_btn--primary{
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #1F8CFF;
        color: #fff;
        border-radius: 20px;
        font-size: 12px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        padding: 7px 14px;

        box-shadow: none;
        transition-property: box-shadow;
        transition-duration: 0.2s;
        transition-timing-function: linear;
    }

    .menu_btn--primary:hover{
        box-shadow: 0px 2px 17px 1px #1f8bff65;
    }

    @media (max-width: 600px) {

        .header{
            background-color: #fff;
            padding: 32px 0 0;
        }
    
        .header_menu{
            max-width: 350px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 16px;
        }

        .menu_logo{
            grid-column: 1 / 1;
            height: 33px;
        }

        .menu_elements{
            display: none;
        }
    
        .menu_btn{
            display: none;
        }
    }


    /*Start Principal Banner*/

    .banner{
        background-color: #fff;
        padding: 32px 0 ;
    }

    .banner_mobile{
        display: none;

    }

    .banner_items{
        max-width: 1000px;
        display: grid;
	    grid-template-columns: repeat(12, 1fr);
        grid-gap: 16px;
    }

    .banner_image{
        grid-column: 1 / 8;
        grid-row: 1 / 3;

    }

    .banner_items--card{
        width: 100%;
    }


    .banner_content{
        grid-column: 8 / 13;

    }

    .banner_items--text{
        grid-row: 1 / 3;
        width: 100%;
    }

    .banner_btn{
        grid-column: 8 / 11;

    }


    
    .btn_primary{
        background: #1F8CFF;
        color: #fff;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 700;
        margin: 10px 0;
        height: 41px;
        width: 322px;
    }

    .btn_secondary{
        background: #fff;
        color: #BCBCBC;
        border-radius: 50px;
        border: 2px solid #BCBCBC;
        font-size: 18px;
        font-weight: 700;
        margin: 10px 0;
        height: 41px;
        width: 322px;
        
    }

    .btn_icon{
        height: 12px;
        width: auto;
        padding: 0 0 0 10px;    
    }

    @media (max-width: 600px) {


        .banner{
            background-color: #fff;
            padding: 32px 0 ;
        }

        .banner_mobile{
            display: block;
            height:400px;
            background-image: url("../content_/Mesa\ de\ trabajo\ 1-1@1x_1.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding-bottom: 64px;

        }

        .banner_items{
            max-width: 350px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        .banner_image{
            display: none;
    
        }
    
        .banner_items--card{
            width: 100%;
        }
    
    
        .banner_content{
            grid-column: 1 / 5;
    
        }
    

        .btn_primary{
            height: 31px;
            width: 260px;
            font-size: 13px;
        }
    
        .btn_secondary{
            height: 31px;
            width: 260px;
            font-size: 13px;
            
        }

        .btn_icon{
            height: 9px;   
        }
    

    }



    /*Start Benefits Banner*/

    .benefits{
        background-color:  #FF1233;
        padding: 64px 0;

    }
    .benefits_items{
        max-width: 1000px;
        display: grid;
	    grid-template-columns: repeat(12, 1fr);
        grid-gap: 16px;
    }

    .benefits_items h3{
        padding-bottom: 22px;
        font-size: 20px;
        font-weight: 900;
    }

    .benefits_items p{
        font-size: 15px;
        font-weight: 400;
    }

    .benefits_item--1{
        grid-column: 1 / 4;
    }

    .benefits_item--2{
        grid-column: 5 / 8;
    }

    .benefits_item--3{
        grid-column: 9 / 13;
    }
    
    @media (max-width: 600px) {
        .benefits_items{
            max-width: 350px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            
        }

        .benefits_items h3{
            font-size: 25px;
        }
    
        .benefits_items p{
            font-size: 20px;
        }
    
        .benefits_item--1{
            grid-column: 1 / 5;
            padding-bottom: 32px;
        }
    
        .benefits_item--2{
            grid-column: 1 / 5;
            padding-bottom: 32px;
        }
    
        .benefits_item--3{
            grid-column: 1 / 5;
        }


    }
  

    /*Start Promo Section*/
    .promo{
        background-color:  #ffffff;
        padding: 64px 0;

    }
    .promo_content{
        max-width: 1000px;
        display: grid;
	    grid-template-columns: repeat(12, 1fr);
        grid-gap: 16px;
    }

    .promo_items{
        grid-column: 2 / 6;
    }

    .promo_items h2 {
        font-size: 40px;
        color: #FF1233;
        font-weight: 900;
    }

    .promo_items-item{
        display: flex;
        padding-top: 32px;
    }

   

    .promo_icon{
        grid-column: 2 / 3;
        display: flex;
        align-items: center;
        box-shadow: 0px 0px 10px 1px #D9D9D9;
        border-radius: 20px;
        width: 80px;
        height: 80px;
        background-color: #ffffff;
    }

    .promo_icon--img{
        padding: 17px;
    }
    

    .promo_item--txt{
        grid-column: 4 / 6;
        padding-left: 16px;

    }

    .promo_item--txt h3 {
        font-size:20px;
        text-transform: uppercase;
        font-weight: 900;
        color: #FF1233;
        padding-bottom: 16px;
    }

    .promo_item--txt p {
        font-size:15px;
        color: #707070;
    }

    .promo_img{
        grid-column: 7 / 12;
        display: flex;
        align-items: center;
    }

   .promo_image--img{
       width: 494px;
       
   }

   @media (max-width: 600px) {

        .promo_content{
        max-width: 350px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        }

        .promo_items{
            grid-column: 1 / 5;
            order: 2;
        }

        .promo_img{
            grid-column: 1 / 5;
            order: 1;
            padding-bottom: 32px;
        }

        .promo_image--img{
            width: 350px;
            
        }

        .promo_item--txt h3 {
            font-size:25px;
        }
    
        .promo_item--txt p {
            font-size:20px;
        }
        
    }


 /*  center;
 

 /*  Start Promo Banner 
.promo{
    max-width: 1200px;
    display: flex;
    padding: 8rem 0 10rem;
}

.promo_items{
    width: 326px;
}

.promo_items-item{
    display: flex;
    padding: 20px 0;
    
}

.promo_items--title{
    padding: 10px 0;
}
.promo_icon,
.steps_icon{
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px 1px #D9D9D9;
    border-radius: 20px;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
}



.promo_icon--img{
    padding: 17px;
}


.promo_img--img{
    width: 800px;
}

.promo_item--txt{
    padding: 0 0 0 20px;
}

 /*  End Promo Banner */




 /*  Start Steps Banner 

.steps{
    background-color: #FF1233;
    padding: 0 0 2rem 0;
    
}

.steps_items{
    max-width: 1200px;
    padding: 2rem 0;
}

.steps_img{
    height: 400px;
}
.steps_item--img{
    position:relative;
    top: -140px;
    width: 664px;
    height: 543px;
}

.item_image{
    display: flex;
    align-items: center;
}

.steps_item{
    display: flex;
    align-items: center;
}

.steps_item--txt{
    width: 316px;
}

.step-item--item{
    display: flex;
    padding: 1rem 0 0;
}

.steps_content{
    width: 240px;
    padding: 0 0 0 20px;

}






footer{
    width: 100%;

}

.footer_grayligth{
    background-color: #888888;
}

.footer_graydark{
    background-color: #707070;
    
}

.footer_links{
    max-width: 1200px;
    display: flex;
    padding: 2rem;
    color: #fff;
    
}

.footer_links--item{
    display: flex;
    align-items: center;
    font-size: 13pt;
}

.footer_links--item p{
    font-weight: 900;
    font-size: 15px;
}

.footer_link--icon{
    width: auto;
    height: 12pt;
    padding: 10pt;
}

.footer_contact{
    max-width: 1200px;
    color: #fff;
    padding: 2rem 0;
}

.footer_contact--title p{
    padding: 2rem 0 1rem;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
}

.footer_contact--items{
    display: flex;
    flex-direction: row;
    padding: 2rem 0;
}

.footer_legal{
    justify-content: flex-end;
}

.footer_legal--img{
    width: 164px;
    text-align: end;

}


.footer_social{
    display: flex;
}

.footer_social img{
    padding: 0 0.2rem;
}

