@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;900&display=swap');

*{
    margin: 0 auto;
	padding: 0px;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    }

    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
   }

   a{
        font-size: 15px;
        font-weight: 400;
        color: #707070;
   }

    /*Start Header Menu*/

    .header{
        background-color: #fff;
        padding: 20px;
        position:fixed;
        width: 100%;
    }

    .header_menu{
        width: 100%;
        display: flex;
        align-items: center;

    }

    .menu_logo{
        grid-column: 1 / 3;
    }

    .menu_logo--img{
        height: 25px;
    }

    .menu_elements{
        grid-column: 3 / 10;
    }

    .menu_links{
        width: 100%;
        display: flex;
    }


    .menu_btn{
        grid-column:8 / 13;
    }


    .menu_btn--primary{
        display: flex;
        flex-direction: row;
        align-items: center;
        background: #1F8CFF;
        color: #fff;
        border-radius: 20px;
        font-size: 12px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
        padding: 7px 34px;
    }

    @media (max-width: 600px) {

        .header{
            background-color: #fff;
            padding: 32px 0 0;
        }
    
        .header_menu{
            max-width: 350px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 16px;
        }

        .menu_logo{
            grid-column: 1 / 1;
            height: 33px;
        }

        .menu_elements{
            display: none;
        }
    
        .menu_btn{
            display: none;
        }
    }


    /*Start Principal Banner*/

    .banner{
        background-color: #fff;
        padding: 100px 0 32px ;
    }

    .banner_mobile{
        display: none;

    }

    .banner_items{
        max-width: 1000px;
        display: grid;
	    grid-template-columns: repeat(12, 1fr);
        grid-gap: 16px;
        align-items: center;
    }

    .banner_image{
        grid-column: 1 / 8;

    }

    .banner_items--card{
        width: 100%;
    }


    .banner_content{
        grid-column: 8 / 13;

    }

    .banner_items--text{
        grid-row: 1 / 3;
        width: 100%;
    }

    .banner_btn{
        grid-column: 8 / 11;

    }


    
    .btn_primary{
        background: #1F8CFF;
        color: #fff;
        border-radius: 50px;
        font-size: 18px;
        font-weight: 700;
        margin: 10px 0;
        height: 41px;
        width: 322px;
    }

    .btn_primary {
        background-color: -webkit-linear-gradient(45deg, #007bfd 50%, transparent 50%);
        background-image: linear-gradient(45deg, #007bfd 50%, transparent 50%);
        background-position: 100%;
        background-size: 400%;
        transition: background 600ms ease-in-out;
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
        transition: box-shadow 0.3s ease-in-out;
      }
    .menu_btn--primary:hover,
    .btn_primary:hover {
        box-shadow: 0 5px 15px rgba(94, 94, 94, 0.3);
      }

      
    .btn_secondary{
        background: #fff;
        color: #BCBCBC;
        border-radius: 50px;
        border: 2px solid #BCBCBC;
        font-size: 18px;
        font-weight: 700;
        margin: 10px 0;
        height: 41px;
        width: 322px;
        
    }

    .btn_secondary {
        
        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
        transition: box-shadow 0.3s ease-in-out;
      }

    .btn_icon{
        height: 12px;
        width: auto;
        padding: 0 0 0 10px;    
    }

    
    .scrolldown {
        --color: white;
        --sizeX: 30px;
        --sizeY: 50px;
        position: relative;
        width: var(--sizeX);
        height: var(--sizeY);
        margin-left: var(sizeX / 2);
        border: calc(var(--sizeX) / 10) solid var(--color);
        border-radius: 50px;
        box-sizing: border-box;
        margin-bottom: 16px;
      }
      
      .scrolldown::before {
        content: "";
        position: absolute;
        bottom: 30px;
        left: 50%;
        width: 6px;
        height: 6px;
        margin-left: -3px;
        background-color: var(--color);
        border-radius: 100%;
        animation: scrolldown-anim 2s infinite;
        box-sizing: border-box;
        box-shadow: 0px -5px 3px 1px #ffffff66;
      }
      
      @keyframes scrolldown-anim {
        0% {
          opacity: 0;
          height: 6px;
        }
        40% {
          opacity: 1;
          height: 10px;
        }
        80% {
          transform: translate(0, 20px);
          height: 10px;
          opacity: 0;
        }
        100% {
          height: 3px;
          opacity: 0;
        }
      }
      .chevrons {
        padding: 6px 0 0 0;
        margin-left: -3px;
        margin-top: 48px;
        width: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .chevrondown {
        margin-top: -6px;
        position: relative;
        border: solid var(--color);
        border-width: 0 3px 3px 0;
        display: inline-block;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
      }
      .chevrondown:nth-child(odd) {
        animation: pulse 500ms ease infinite alternate;
      }
      .chevrondown:nth-child(even) {
        animation: pulse 500ms ease infinite alternate 250ms;
      }
      @keyframes pulse {
        from {
          opacity: 0;
        }
        to {
          opacity: 0.5;
        }
      }


    @media (max-width: 600px) {


        .banner{
            background-color: #fff;
            padding:  80px 0 32px ;
        }

        .banner_mobile{
            display: block;
            height:350px;
            background-image: url("../content_/Mesa\ de\ trabajo\ 1-1@1x_1.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            padding-bottom: 64px;

        }

        .banner_items{
            max-width: 350px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        .banner_image{
            display: none;
    
        }
    
        .banner_items--card{
            width: 100%;
        }
    
    
        .banner_content{
            grid-column: 1 / 5;
    
        }
    

        .btn_primary{
            height: 31px;
            width: 260px;
            font-size: 15px;
        }
    
        .btn_secondary{
            height: 31px;
            width: 260px;
            font-size: 15px;
            
        }

        .btn_icon{
            height: 9px;   
        }
    

    }



    /*Start Benefits Banner*/

    .benefits{
        background-color:  #FF1233;
        padding: 64px 0;

    }
    .benefits_items{
        max-width: 1000px;
        display: grid;
	    grid-template-columns: repeat(12, 1fr);
        grid-gap: 16px;
    }

    .benefits_items h3{
        padding-bottom: 22px;
        font-size: 20px;
        font-weight: 900;
    }

    .benefits_items p{
        font-size: 15px;
        font-weight: 400;
    }

    .benefits_item--1{
        grid-column: 1 / 4;
    }

    .benefits_item--2{
        grid-column: 5 / 8;
    }

    .benefits_item--3{
        grid-column: 9 / 13;
    }
    
    @media (max-width: 600px) {
        .benefits_items{
            max-width: 350px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            
        }
    
        .benefits_item--1{
            grid-column: 1 / 5;
            padding-bottom: 32px;
        }
    
        .benefits_item--2{
            grid-column: 1 / 5;
            padding-bottom: 32px;
        }
    
        .benefits_item--3{
            grid-column: 1 / 5;
        }


    }
  

    /*Start Promo Section*/
    .promo{
        background-color:  #ffffff;
        padding: 64px 0;

    }
    .promo_content{
        max-width: 1000px;
        display: grid;
	    grid-template-columns: repeat(12, 1fr);
        grid-gap: 16px;
    }

    .promo_items{
        grid-column: 2 / 6;
    }

    .promo_items h2 {
        font-size: 40px;
        color: #FF1233;
        font-weight: 900;
    }

    .promo_items-item{
        display: flex;
        padding-top: 32px;
    }

   

    .promo_icon{
        grid-column: 2 / 3;
        display: flex;
        align-items: center;
        box-shadow: 0px 0px 10px 1px #D9D9D9;
        border-radius: 20px;
        width: 80px;
        height: 80px;
        background-color: #ffffff;
    }

    .promo_icon--img{
        padding: 17px;
    }
    

    .promo_item--txt{
        grid-column: 4 / 6;
        padding-left: 16px;

    }

    .promo_item--txt h3 {
        font-size:20px;
        text-transform: uppercase;
        font-weight: 900;
        color: #FF1233;
        padding-bottom: 16px;
    }

    .promo_item--txt p {
        font-size:15px;
        color: #707070;
    }

    .promo_img{
        grid-column: 7 / 12;
        display: flex;
        align-items: center;
    }

   .promo_image--img{
       width: 494px;
       
   }

   @media (max-width: 600px) {

        .promo_content{
        max-width: 350px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        }

        .promo_items{
            grid-column: 1 / 5;
            order: 2;
        }

        .promo_img{
            grid-column: 1 / 5;
            order: 1;
            padding-bottom: 32px;
        }

        .promo_image--img{
            width: 350px;
            
        }
        
    }

      /*Start Steps Section*/

    .steps{
        background-color:  #FF1233;
        padding: 64px 0;

    }
    .steps_items{
        max-width: 1000px;
        display: grid;
	    grid-template-columns: repeat(12, 1fr);
        grid-gap: 16px;
        align-items: center;
    }

    .steps_img{
        grid-column: 1 / 4;
    }

    .steps_item--img{
        width: 579px;
        top: -100px;
    }

    .steps_item--txt{
        grid-column: 9 / 12;
    }

    .steps_item--txt h2{
        font-size: 40px;
        color: #ffff;
        font-weight: 900;
    }

    .steps_content{
        max-width: 1000px;
        display: grid;
	    grid-template-columns: repeat(12, 1fr);
        grid-gap: 16px;
    }

    .steps_element{
        display: flex;
        flex-direction: row;
        padding-top : 32px ;
    }

    .steps_element--1{
        grid-column: 1 / 5;
    }

    .steps_element--2{
        grid-column: 5 / 9;
    }

    .steps_element--3{
        grid-column: 9 / 13;
    }

    .steps_icon{
        display: flex;
        align-items: center;
        box-shadow: 0px 0px 10px 1px #D9D9D9;
        border-radius: 20px;
        background-color: #ffffff;
        padding: 16px;
        height: 40px;
    }

    .steps_element--txt{
        padding-left: 16px;
    }

    .steps_element--txt h3{
        font-size: 20px;
        font-weight: 900;
        text-transform: uppercase;
        padding-bottom: 16px ;
    }

    .steps_element--txt p{
        font-size: 15px;
        font-weight: 400; 
    }


    @media (max-width: 600px) {

        .steps_items{
            max-width: 350px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        .steps_img{
            grid-column: 1 / 4;
        }
    
        .steps_item--img{
            width: 350px
        }
    
        .steps_item--txt{
            grid-column: 1 /5;
        }

        .steps_content{
            max-width: 350px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        .steps_element--1,
        .steps_element--2,
        .steps_element--3{
            grid-column: 1 / 5;
        }
        
    }

 /*  Start Footer */
 
    .footer_grayligth{
        background-color: #888888;

     }

     .footer_links{
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 16px;
        padding: 64px 0;
        }

    .footer_links h4{
        font-size: 17px;
        font-weight: 900;
        }
        
    .footer_links--1{
        grid-column: 2 / 4;
        display: flex;
        align-items: center;
    }

    .footer_links--2{
        grid-column: 6 / 8;
        display: flex;
        align-items: center;
    }


    .footer_links--3{
        grid-column: 9 / 12;
        display: flex;
        align-items: center;
    }

    .footer_link--qu{
        height: 21px;
        padding: 0 16px;
    }

    .footer_link--ma{
        height: 14px;
        padding: 0 16px;
    }

    .footer_link--pin{
        height: 16px;
        padding: 0 16px;
    }


    @media (max-width: 600px){
        .footer_links{
            max-width: 350px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            }

        .footer_links--1,
        .footer_links--2,
        .footer_links--3{
                grid-column: 1 / 5;
                display: flex;
                align-items: center;
            }

        .footer_links--2{
            padding: 64px 0;
            }
        
    }

    .footer_graydark{
        background-color: #707070;
     }
     
     .footer_contact{
        max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 16px;
        padding: 64px 0;
        align-items: flex-start;
     }

     .footer_contact h4{
        font-size: 17px;
        font-weight: 700;
     }

     .footer_contact p{
        font-size: 17px;
        font-weight: 400;
     }

     .footer_contact--title{
        grid-column: 2 / 12;
        grid-row: 1 / 2;
     }

     .footer_contact--items{
        grid-column: 2 / 7;

     }

     .footer_legal--img{
         height: 21px;
     }

     .footer_contact--1,
     .footer_contact--4{
        grid-column: 2 / 4;
     }

     .footer_contact--2,
     .footer_contact--5{
        grid-column: 4 / 6;
     }

     .footer_contact--3,
     .footer_contact--6{
        grid-column: 6 / 8;
     }


     .footer_social{
        grid-column: 9 / 12;
        grid-row: 2 / 3;
        display: flex;
        width: 100%;
        
     }

     .footer_legal{
        grid-column: 9 / 12;
        grid-row: 3 / 4;
        flex-direction: row;
        align-items: flex-start;
     }


     @media (max-width: 600px){


        .footer_contact{
        max-width: 350px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);;
    }

        .footer_contact--1,
        .footer_contact--2, 
         .footer_contact--3{
            grid-column: 1 / 3;
         }

         .footer_contact--4,
        .footer_contact--5, 
         .footer_contact--6{
            grid-column: 3 / 5;
         }

         .footer_contact--1,
        .footer_contact--4{
            grid-row: 2 / 3;
         }

         .footer_contact--2,
         .footer_contact--5{
            grid-row: 3 / 4;
          }

          .footer_contact--3,
          .footer_contact--6{
            grid-row: 4 / 5;
           }
 



         .footer_social{
            grid-column: 2 / 4;
            width: 100%;
            grid-row: 5 / 6;
            display: flex;
            flex-direction: column;
            
         }

         .footer_social h4{
            padding-bottom: 4px;
            text-transform: uppercase;
            font-size: 17px;
        }

        .footer_social--icons{
            padding-top: 10px;
        }

        .footer_social img{
            padding: 0px  6px;
        }
    
         .footer_legal{
            grid-column: 1 / 5;
            grid-row: 6 / 7;

         }

         .footer_contact--title{
            grid-column: 1 / 5;
            grid-row: 1 / 2;
         }


     }






